@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("To Ajax by helper", "FormAjax")
        <br>
        <br>
        @Html.ActionLink("To Ajax by jQuery", "JqueryAjax")
    </div>
</body>
</html>
